#body .profile{
    max-width: 700px;
    margin: 0 auto;
}

/* media */
@media (max-width: 768px) {
    /* normal */
    #top-jpg{
        width: 100%;
    }
}

@media (min-width: 769px) {
    /* normal */
    #top-jpg{
        width: 60%;
    }
}